<div class="post-field">
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="post-title" placeholder="name@example.com">
    <label for="floatingInput">Post Title</label>
  </div>
  <div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="post-body" style="height: 100px"></textarea>
    <label for="floatingTextarea2">Post Content</label>
  </div>
  <button class="btn btn-outline-secondary comment" id="submit-comment" type="button">Post</button>
</div>
{{#each list}}
<div class="card">
  <h5 class="card-header">USER</h5>
  <div class="card-body">
    <h5 class="card-title">Title</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    
  </div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary comment" id="submit-comment" type="button">comment</button>
  </div>
  <input type="text" id="comment-field" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>
</div>
  {{/each}}
