<div>
    {{#each posts as |post|}}
    <article class="blog-post">
        <h2 class="blog-post-title mb-1">test post</h2>
        <p class="blog-post-meta">
            "December 14, 2020 by "
            <a href="#">James Bester</a>
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum delectus molestiae magnam tempora, accusantium reiciendis tempore possimus! Vel molestias, maxime ab esse deserunt saepe voluptates aut magnam, placeat obcaecati dolorem!
        </p>
    </article>
    {{/each}}
    1
</div>

