.login{
    margin: 100px;
    width: 400px;
}

.input{
    margin: 10px 0px;
}

.post-field{
    margin: 40px;
}

.card-body{
    margin: 0 40px;
}

.subtext{
    color:darkgray;
    font-size:.8rem;
}

.comment-section{
    color: navy;
    margin-left: 60px;
    margin-right: 60px;
}

.comment-user{
    font-size:.9rem;
}
.comment-time{
    color:darkgray;
    font-size:.8rem;
}
.error{
    display: hidden;
    color:crimson;
    font-weight: bold;
}